/*base*/
html,
body {
  position: relative;
  width: 100%;
  min-width: 300px;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Arial', sans-serif; }

body {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  color: #000000;
  font-weight: normal;
  background: #ffffff;
  min-width: 760px; }

.page {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  page-break-before: always; }

.container {
  position: relative;
  width: 100%;
  max-width: 1040px;
  margin: 0px auto;
  padding: 0px 70px;
  z-index: 9; }

figure {
  display: block;
  margin: 0px;
  padding: 0px; }

img {
  height: auto;
  max-width: 100%; }

.header,
.footer {
  display: table-row;
  width: 100%; }

main {
  display: table-row;
  width: 100%;
  height: 100%; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

h2, h3, h4, h5, h6, b, strong {
  font-family: 'Arial', sans-serif;
  margin: 0px;
  padding: 0px; }

h1 {
  font-size: 1.5rem;
  line-height: 1.08333;
  font-family: 'Arial', sans-serif;
  margin: 0px;
  padding: 0px; }

h2 {
  padding: 0px 0px 20px;
  font-size: 1rem;
  line-height: 1.25; }

.page-hr {
  display: block;
  width: 100%;
  height: 1px;
  background: #80c6ff; }
  .page-hr.medium {
    height: 3px; }
  .page-hr.large {
    height: 5px; }

/*base*/
/*header*/
.main-header {
  background: #daf2fc; }
  .main-header .header-wrapper {
    position: relative;
    padding: 50px 0px; }
    .main-header .header-wrapper:before {
      content: '';
      position: absolute;
      top: 0px;
      right: 0px;
      width: 145px;
      height: 160px;
      background: url("../../images/corner-top.jpg");
      background-position: right top;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1; }
  .main-header figure {
    max-width: 190px; }

.page-header.is-large .header-wrapper {
  padding: 60px 0px; }

.page-header figure {
  display: inline-block;
  max-width: 140px;
  font-size: 0px;
  line-height: 1; }

.page-header h1 {
  font-size: 2rem;
  line-height: 1.0625;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  color: #488bfd; }

.page-header .header-wrapper {
  position: relative;
  padding: 20px 0px 0px; }
  .page-header .header-wrapper:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    width: 145px;
    height: 160px;
    background: url("../../images/corner-top-white.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1; }

.page-header-table {
  width: 100%;
  border-bottom: 5px solid #80c6ff; }
  .page-header-table.no-border {
    border-color: transparent; }
  .page-header-table td {
    padding: 20px 0px 15px; }

/*header*/
/*main*/
.main .main-wrapper {
  padding: 50px 0px 0px;
  height: 779px; }

.main.inside-main .main-wrapper {
  height: 862px; }

.main.is-last .main-wrapper {
  height: 783px; }

.main-h1 {
  margin: 0px;
  padding: 20px 0px 0px;
  font-size: 3.4375rem;
  line-height: 1.09091;
  font-family: 'Arial', sans-serif;
  color: #488bfd;
  text-transform: uppercase;
  text-align: center; }
  .main-h1 + .commercial-section {
    margin-top: 40px; }

.large-h1, .page-header .large-h1 {
  font-size: 4.6875rem;
  line-height: 1;
  font-family: 'Arial', sans-serif;
  color: #488bfd;
  text-transform: uppercase; }

.commercial-section {
  padding: 20px 0px; }

.commercial-section-title {
  font-size: 1.25rem;
  line-height: 1.2;
  color: #80c6ff;
  text-transform: uppercase; }
  .commercial-section-title + .commercial-section-value {
    margin-top: 10px; }

.commercial-section-value {
  font-size: 1.5rem;
  line-height: 1.08333;
  font-family: 'Arial', sans-serif; }

/*start article*/
.article {
  margin: 0px;
  padding: 0px;
  font-size: 1.125rem;
  line-height: 1.66667;
  font-family: 'Arial', sans-serif; }
  .article p, .article h2 {
    margin: 20px 0px 0px;
    padding: 0px; }
    .article p:first-child, .article h2:first-child {
      margin-top: 0px;
      padding-top: 0px; }
  .article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
    color: #488bfd;
    font-family: 'Arial', sans-serif;
    padding-top: 20px; }
    .article h1:first-child, .article h2:first-child, .article h3:first-child, .article h4:first-child, .article h5:first-child, .article h6:first-child {
      margin-top: 0px;
      padding-top: 0px; }
    .article h1 + p, .article h2 + p, .article h3 + p, .article h4 + p, .article h5 + p, .article h6 + p {
      margin-top: 20px; }
  .article h2 {
    font-size: 1.75rem;
    line-height: 1.21429; }
  .article h3 {
    font-size: 1.5rem;
    line-height: 1.25; }
  .article h4 {
    font-size: 1.5rem;
    line-height: 1.25; }
    .article h4 + p {
      margin-top: 0px; }
  .article a {
    color: #488bfd;
    text-decoration: underline; }
    .article a:hover, .article a:focus {
      color: #488bfd; }
    .article a:hover {
      text-decoration: none; }
  .article table {
    width: 100%; }
    .article table img {
      margin: 0px; }
    .article table td {
      padding: 0px 10px; }
      .article table td:first-child {
        padding-left: 40px; }
      .article table td:last-child {
        padding-right: 40px; }
  .article ul {
    margin: 20px 0px 0px;
    padding: 0px;
    list-style-type: none; }
    .article ul li {
      position: relative;
      padding: 5px 0px 5px 40px; }
      .article ul li:before {
        content: '';
        pointer-events: none;
        width: 10px;
        height: 3px;
        position: absolute;
        top: 16px;
        margin: auto 0px;
        left: 3px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        box-shadow: inset 0px 0px 0px 26px #488bfd;
        -webkit-transform-origin: right;
        -ms-transform-origin: right;
        transform-origin: right; }
      .article ul li:after {
        content: '';
        pointer-events: none;
        width: 10px;
        height: 3px;
        position: absolute;
        top: 15px;
        margin: auto 0px;
        left: 3px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-shadow: inset 0px 0px 0px 26px #488bfd;
        -webkit-transform-origin: right;
        -ms-transform-origin: right;
        transform-origin: right; }
    .article ul p {
      font-size: 1.5rem;
      line-height: 1.25;
      color: #488bfd; }
    .article ul ol {
      list-style-type: none;
      padding: 15px 0px 15px 0px; }
      .article ul ol li {
        padding: 0px; }
        .article ul ol li:before, .article ul ol li:after {
          display: none; }

/*end article*/
.large-paragraph, .article .large-paragraph {
  margin: 0px;
  padding: 100px 0px 0px;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #488bfd; }
  .large-paragraph:first-child, .article .large-paragraph:first-child {
    padding-top: 100px; }
  .large-paragraph strong, .article .large-paragraph strong {
    font-size: 2.125rem;
    line-height: 1; }

.medium-paragraph {
  font-size: 1.5rem;
  line-height: 1.25; }

.profile-table td {
  padding: 40px !important; }
  .profile-table td:first-child {
    width: 240px !important; }

.profile-table tr:last-child td {
  padding-bottom: 10px !important; }

.padding-left, .padding-left-40 {
  padding-left: 40px !important; }

.padding-left-60 {
  padding-left: 60px !important; }

.margin-top-0 {
  margin-top: 0px !important; }

/*main*/
/*footer*/
.footer-wrapper {
  position: relative;
  padding: 50px 0px; }
  .footer-wrapper:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 220px;
    height: 100px;
    background: url("../../images/corner-bottom.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1; }

.footer-copyright {
  font-size: 0.875rem;
  line-height: 1.14286;
  font-family: 'Arial', sans-serif;
  color: #488bfd; }

/*footer*/
